<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zk.dao.zymessage.KcMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="tblKsMap" type="zk.domain.DTO.ZyMessage.KcMessage">
        <result column="kctype" property="kctype" />
        <result column="kc_dm" property="kc_dm" />
        <result column="kc_xf" property="kc_xf" />
        <result column="mxsh" property="mxsh" />
        <result column="tzgg" property="tzgg" />
        <result column="xjsd" property="xjsd" />
        <result column="jjhkc_dm" property="jjhkc_dm" />
        <result column="jjhkc_mc" property="jjhkc_mc" />
        <result column="bz" property="bz" />
        <result column="cbs" property="cbs" />
    </resultMap>


</mapper>