<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zk.dao.YxMapper.ZyMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="tblKsMap" type="zk.domain.DTO.YxMessage.ZyMessage">
        <result column="ks_sj" property="zy_mc" />
        <result column="zy_dm" property="zy_dm" />
        <result column="cc" property="cc" />
        <result column="zy_yx" property="zy_yx" />
        <result column="bktj" property="bktj" />
    </resultMap>


</mapper>